<!DOCTYPE html>
<html>
<head>
    <title>Search Torrent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="text-center my-4">Search Torrent</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="form-inline my-2 my-lg-0" action="/search" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="query" required>
            <div class="input-group-append">
              <select class="custom-select" name="site">
                <option selected value="tgx">Torrent Galaxy</option>
                <option value="1337x">1337x</option>
                <option value="piratebay">PirateBay</option>
                <!-- Add more sites as options here -->
              </select>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
        </form>
          
          
    </div>
</body>
</html>
